.search-input {
  width: 100%;
//   padding: 0.5rem 1rem;
//   margin-bottom: 1rem;
  font-size: 1rem;
//   border: 1px solid #ccc;
//   border-radius: 0.5rem;
}
wx-list {
  width: 50vw;         // 전체 화면의 절반 너비
  margin: 0 auto;      // 좌우 자동 마진 → 가로 가운데 정렬
  display: flex;
  flex-direction: column;
}
wx-item {
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}